[program:{{ program_name }}]
command=python3 {{ server_file_name }} > /var/log/{{ program_name }}.out.log
autostart=true
directory={{ project_location }}
stderr_logfile=/var/log/{{ program_name }}.err.log
stdout_logfile=/var/log/{{ program_name }}.out.log
